body{
    background-color: black;
    color: white;
}
#continer{
background-color: rgb(15, 15, 15);
margin: 5em;
height: 100%;
padding-top: 3em;
border-radius: 0.5em;
text-align: center;
}



#continer .card{
    
    display: inline;
    position: relative;
    margin: 0.1em;
    cursor: pointer;
    
}

#continer .card:hover div{
    display: inline;
    z-index: 2;
    
}
#continer .card .showTitle{
    text-align: left;
    position: absolute;
    bottom: 0;
    right: 0;
    
    width: 100%;
    text-overflow: unset;
    white-space: unset;
  font-size: 1.2em;
  word-wrap: break-word;
  
  color: rgb(255, 255, 255);

  display: none;
  overflow: hidden;
}
#continer .card .rating{
    text-align: right;
    position: absolute;
    top: -280px;
    right: 0;
    border-radius: 0.2em;
    padding-left: 2px;
    
    text-overflow: unset;
    white-space: unset;
  font-size: 1.2em;
  word-wrap: break-word;
  background-color: rgba(0,0,0,.5);
  color: rgb(255, 238, 0);
    display: none;
  overflow: hidden;
}

#continer .card img{
    position: relative;
    bottom: 0;
    right: 0;
    border-radius: 0.5em;
    transition: .2s;

}
#continer .card img:hover{
    transform: scale(1.1);
    filter: brightness(0.4);
    z-index: 1;

}
a .fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}


h1{
    text-align: center;
}



/* showPage */

.showPage{
    background-color: rgb(15, 15, 15);
    margin: 0 10em;
    height: 100%;
    padding-top: 2em;
    padding-left: 2em;
    border-radius: 0.5em;
    text-align: center;
}

.showDit{
    display: flex;
    flex-direction: row;
    
}


.leftSide{
margin: 2em;
width: 20%;
text-align: left;
}
.leftSide h1{
    text-align: center;
    width: 268px;
}
.leftSide div img{
    width:268px;
    height: auto;
    border-radius: 0.3em;
}
hr{
    color: gray;
    border-color: gray;
    width: 268px;
    border-radius: 0.5em;
}

.rightSide{
    margin: 10em;
    text-align: left;
}

.rating{

}